<h1>All Sightings</h1>
<br>
<br>
<ul>
  <% @sightings.each do |sighting| %>
    <li>
      <p>
        <strong><a href="/sightings/<%= sighting.id %>"><%= sighting.created_at.strftime("Sighted on %m/%d/%Y at %I:%M%p") %></a></strong>
        <br>
        <%= sighting.latitude %>°  | <%= sighting.longitude %>°
      </p>
    </li>
  <% end %>
</ul>
