<h1>Alien Tracker</h1>

<a href="/aliens/new" class="btn">New Alien</a>

<ul>
  <% @aliens.each do |alien| %>
    <li>
      <p>
        <strong><a href="/aliens/<%= alien.id %>"><%= alien.name %></a></strong>
        <br>
        <em><%= alien.description %></em>
      </p>
    </li>
  <% end %>
</ul>
