<h1><%= @alien.name %></h1>

<p>
  Description:
  <br>
  <%= @alien.description %>
</p>

<p><a href="/aliens/<%= @alien.id %>/edit">Edit this Alien</a></p>
<p><a href="/aliens">Return to Alien listing</a></p>
