<h1>Alien saved!</h1>

<p>Your alien species entry was successfully saved.</p>

<p><a href="/aliens/<%= @alien.id %>">View <%= @alien.name %></a></p>

<p><a href="/aliens">Return to Alien listing</a></p>
